force-app/main/default/flows/Lead_Script.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setJobStatus</name>
        <label>setJobStatus</label>
        <locationX>483</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>jobRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setScore</name>
        <label>setScore</label>
        <locationX>368</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>externalLead.score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setJobStatus</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Lead Script {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>externalLead</name>
        <label>externalLead</label>
        <locationX>148</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>jobRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>public_External_Lead__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>jobRecord</name>
        <label>jobRecord</label>
        <locationX>253</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Script</targetReference>
        </connector>
        <filters>
            <field>JobID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>externalLead.job_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateLead</name>
        <label>updateLead</label>
        <locationX>482</locationX>
        <locationY>52</locationY>
        <inputReference>externalLead</inputReference>
    </recordUpdates>
    <screens>
        <name>Lead_Script</name>
        <label>Lead Script</label>
        <locationX>368</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setScore</targetReference>
        </connector>
        <fields>
            <name>Script</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Hello! We were calling in regards to an inquiry about... do you have a few moments to speak?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>externalLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
